<script>
    Highcharts.chart('grafico', {
        chart: {
            type: 'column'
        },
        title: {
            text: '{{titulo}}'
        },
        subtitle: {
            text: '{{subtitulo}}'
        },
        xAxis: {
            categories: [
                {{categorias | raw}}
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '{{ejeY}}'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b> {{simboloPaintFormat}}{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: false,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
            {{ series | raw }}
        ]
    });
</script>