<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Venta N° {{venta.id}} - JASA SUBLIMACIONES</title>
        <style>
            .encabezado{
                width:700px;
            }
            .encabezado .contenedorLogo{
                text-align:center;
                vertical-align:middle;
                background:#fe9629;
            }
            .encabezado .contenedorLogo img{
                width:100px;
            }
            .encabezado .logo{
                font-family:Helvetica;
                font-size:30px;
                font-weight:bold;
                background:#fe9629;
                padding:20px;
                color:#FFF;
            }
            .encabezado .titulo{
                font-size:15px;
                font-family:sans-serif;
                font-weight:bold;
                vertical-align:bottom;
                text-align:right;
            }
            .encabezado .txt1{
                font-size:10px;
                font-family:sans-serif;
                vertical-align:bottom;
                text-align:left;
            }
            .encabezado .txt2{
                font-size:10px;
                font-family:sans-serif;
                vertical-align:bottom;
                text-align:right;
                vertical-align:top;
            }
            .detalles{
                width:700px;
                font-family:sans-serif;
                border:solid 1px #000;
                padding:15px;
            }
            .detalles th,
            .detalles td{
                text-align:left;
                padding-top:5px;
                vertical-align:top;
                font-size:10px;
            }
            .detalles .txtInfo{
                border-top:solid 1px #fe9629;
                font-size:8px;
            }
            .detalles .txtInfoBkg{
                font-size:8px;
                background:#fe9629;
                padding:5px;
                text-align:center;
                border:solid 1px #fe9629;
                color:#FFF;
            }
            .detalles .bordeNaranja{
                padding:0;
                border:solid 1px #fe9629;
                text-align:center;
                vertical-align:middle;
            }
        </style>
    </head>
    <body>
        <table class='encabezado'>
            <tr>
                <td class='contenedorLogo'>
                    <img src="http://cms.jasasublimacion.com.ar/images/logo.png" />
                </td>
                <td class='txt1'>
                    <span><b>JASA SUBILMCION DIGITAL S.R.L.</b></span>
                    <br/>
                    Dirección: BOEDO 711 <b>Dpto:</b> 0002
                    <br/>
                    Entre las calles: ALVEAR Y SAN MARTIN
                    <br/>
                    CABA - Ciudad Autónoma de Buenos Aires - CP: 1000 al 1465
                    <br/>
                    Teléfono: 08002205272
                    <br/>
                    IVA RESOPNSABLE INSCRIPTO
                </td>
                <td class='txt2' style='text-align:right;'>
                    <span><b>Nota de venta N° LDZ - {{venta.id}}</b></span>
                    <br/>
                    <b>Fecha:</b> {{ venta.fecha ? venta.fecha|date('d/m/Y') : '' }}
                    <br/>
                    <b>CUIT:</b> 30-71543331-8
                    <br/>
                    <b>IIBB:</b> 30-71543331-8
                    <br/>
                    <b>Inicio de actividades:</b> 29/11/2016
                </td>
            </tr>
        </table>
        <table class='detalles' style='background: lightgrey;border:none;margin:5px 0;'>
            <tr>
                <th>Razon Social:</th>
                <td colspan=3>{{ venta.cliente.razonSocial ?? ''}}</td>
            </tr>
            <tr>
                <th>Cliente:</th>
                <td>{{ venta.cliente.nombre ?? ''}} {{ venta.cliente.apellido ?? ''}}</td>
                <th>Dirección:</th>
                <td>{{ venta.cliente.direccion ?? ''}}</td>
            </tr>
            <tr>
                <th>DNI:</th>
                <td>{{ venta.cliente.dni ?? ''}}</td>
                <th>CUIT:</th>
                <td>{{ venta.cliente.cuit ?? ''}}</td>
            </tr>
            <tr>
                <th>Mail:</th>
                <td>{{ venta.cliente.mail ?? ''}}</td>
                <th>Teléfono:</th>
                <td>{{ venta.cliente.telefono ?? ''}}</td>
            </tr>
        </table>
        <table class='detalles'>
            <tr>
                <th>Cantidad:</th>
                <th>Descripción</th>
                <th>Precio unitario:</th>
                <th>IVA (%)</th>
                <th>Importe</th>
                <th>IVA ($)</th>
            </tr>
            {% set total_venta = 0 %}
            {% set total_iva_venta = 0 %}
            {% for p in venta.ventasProductos %}
                {% set total = p.precio * p.cantidad %}
                {% set iva_total =  p.precio * p.producto.iva /100 * p.cantidad %}
                {% set total_venta =  total_venta + total %}
                {% set total_iva_venta =  total_iva_venta + iva_total %}
                <tr>
                    <td>{{p.cantidad|number_format(0, ',', '.')}} {{p.producto.IdUnidadMedida.corto}}</td>
                    <td>{{p.producto.titulo}}</td>
                    <td>${{p.precio|number_format(0, ',', '.')}}</td>
                    <td>{{p.producto.iva}}%
                    <td>${{total|number_format(0, ',', '.')}}</td>
                    <td>${{iva_total|number_format(0, ',', '.')}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan=4><br/> <td>
            </tr>
            <tr>
                <th colspan=4 style='border-top:solid 1px #000000'>TOTAL:</th>
                <th style='border-top:solid 1px #000000'>${{total_venta|number_format(0, ',', '.')}}</td>
                <th style='border-top:solid 1px #000000'>${{total_iva_venta|number_format(0, ',', '.')}}</td>
            </tr>
        </table>
    </body>
</html>