{% extends 'base.html.twig' %}

{% block title %}AjustesStock index{% endblock %}

{% block body %}
    <h1>AjustesStock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Observaciones</th>
                <th>Stock_anterior</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ajustes_stock in ajustes_stocks %}
            <tr>
                <td>{{ ajustes_stock.id }}</td>
                <td>{{ ajustes_stock.fecha ? ajustes_stock.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ajustes_stock.cantidad }}</td>
                <td>{{ ajustes_stock.observaciones }}</td>
                <td>{{ ajustes_stock.stockAnterior }}</td>
                <td>
                    <a href="{{ path('ajustes_stock_show', {'id': ajustes_stock.id}) }}">show</a>
                    <a href="{{ path('ajustes_stock_edit', {'id': ajustes_stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ajustes_stock_new') }}">Create new</a>
{% endblock %}
