{% extends 'base.html.twig' %}

{% block title %}MediosPago index{% endblock %}

{% block body %}
    <h1>MediosPago index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Habilitado</th>
                <th>Eliminado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medios_pago in medios_pagos %}
            <tr>
                <td>{{ medios_pago.id }}</td>
                <td>{{ medios_pago.nombre }}</td>
                <td>{{ medios_pago.habilitado }}</td>
                <td>{{ medios_pago.eliminado }}</td>
                <td>
                    <a href="{{ path('medios_pago_show', {'id': medios_pago.id}) }}">show</a>
                    <a href="{{ path('medios_pago_edit', {'id': medios_pago.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medios_pago_new') }}">Create new</a>
{% endblock %}
