{% extends 'base.html.twig' %}

{% block title %}MediosPago{% endblock %}

{% block body %}
    <h1>MediosPago</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medios_pago.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ medios_pago.nombre }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{{ medios_pago.habilitado }}</td>
            </tr>
            <tr>
                <th>Eliminado</th>
                <td>{{ medios_pago.eliminado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medios_pago_index') }}">back to list</a>

    <a href="{{ path('medios_pago_edit', {'id': medios_pago.id}) }}">edit</a>

    {{ include('medios_pago/_delete_form.html.twig') }}
{% endblock %}
