{% extends 'base.html.twig' %}

{% block title %}Combos{% endblock %}

{% block body %}
    <h1>Combos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ combo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ combo.nombre }}</td>
            </tr>
            <tr>
                <th>Porcentaje_costo</th>
                <td>{{ combo.porcentajeCosto }}</td>
            </tr>
            <tr>
                <th>Precio_final</th>
                <td>{{ combo.precioFinal }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ combo.descripcion }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{{ combo.habilitado }}</td>
            </tr>
            <tr>
                <th>Eliminado</th>
                <td>{{ combo.eliminado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('combos_index') }}">back to list</a>

    <a href="{{ path('combos_edit', {'id': combo.id}) }}">edit</a>

    {{ include('combos/_delete_form.html.twig') }}
{% endblock %}
