{% extends 'generales/baseSistema.html.twig' %}

{% block title %} - Cotizaciones{% endblock %}

{% block rutas %}Cotizaciones > <span>Generar venta</span>{% endblock %}

{% block pestanias %}
    <a href="{{ path('cotizaciones_edit', {'id': cotizacion.id}) }}">Detalles de la cotizaci贸n</a>
    <a href="{{ path('cotizaciones_venta', {'id': cotizacion.id}) }}" class="actual">Generar venta</a>
    <a href="{{ path('cotizaciones_index') }}" class='btnVolver'>
        <img src="{{asset('images/iconos/volver.png')}}" alt="" />
    </a>
{% endblock %}

{% block contenido %}
    <h1>Generar venta</h1>

    <table class='tablaCotizacionVentaDetalle'>
        <tr>
            <th>Almacen:</th>
            <td>{{cotizacion.almacen.nombre}} - {{cotizacion.almacen.direccion}}</td>
        </tr>
        <tr>
            <th>Fecha:</th>
            <td>{{"NOW"|date('d/m/Y')}}</td>
        </tr>
        <tr>
            <th>Estado:</th>
            <td>Preventa</td>
        </tr>
        <tr>
            <th>Cliente:</th>
            <td>
                {{cliente.nombre|capitalize}} {{cliente.apellido|capitalize}}<br/>
                {{cliente.mail}} {{cliente.telefono}}<br/>
                {{cliente.direccion}}
            </td>
        </tr>
        <tr>
            <th colspan=2>
                <br/><br/><br/>
                {{ (cotizacion.mantenerPrecio) ? "Se mantiene el precio fijado al momento de la cotizaci贸n: "~cotizacion.fecha|date('d/m/Y') : "No se fijaron los precios al momento de la cotizaci贸n: "~cotizacion.fecha|date('d/m/Y') }}
                <br/><br/><br/>
            </th>
        </tr>
    </table>

    <form method="post" action="{{ path('ventas_new') }}">
        <input type="hidden" name="venta[fecha]" value="{{"NOW"|date('d/m/Y')}}" />
        <input type="hidden" name="venta[cliente]" value="{{cliente.id}}" />
        <input type="hidden" name="venta[estado]" value="Preventa" />
        <input type="hidden" name="venta[almacen]" value="{{cotizacion.almacen.id}}" />
        <input type="hidden" name="venta[cotizacion]" value="{{cotizacion.id}}" />

        <table class="tablaProductosAsignados">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Stock actual</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody id='productosAsignadosCotizacion'>
                {% for p in productosAsignados %}
                    <input type="hidden" name="productoAsignado[{{p.id}}]" value="" />
                    <tr id="productoAgregado_{{p.id}}">
                        <td>{{p.titulo}}</td>
                        <td>${{p.precio|number_format(2, ',', '.')}}</td>
                        <td>{{p.stockActual|number_format(0, ',', '.') ~ p.unidad}}</td>
                        <td>
                            {% if (p.reservado == 1) %}
                                {{p.cantidad|number_format(0, ',', '.') ~ p.unidad}}
                                <input type="hidden" name="productoAsignado[{{p.id}}]" value="{{p.cantidad}}" />
                                <input type="hidden" name="stockReservado[]" value="{{p.id}}" />
                            {% elseif (p.reservado == 0 and p.stockActual < p.cantidad) %}
                                {{p.stockActual|number_format(0, ',', '.') ~ p.unidad}}
                                <input type="hidden" name="productoAsignado[{{p.id}}]" value="{{p.stockActual}}" />
                            {% else %}
                                {{p.cantidad|number_format(0, ',', '.') ~ p.unidad}}
                                <input type="hidden" name="productoAsignado[{{p.id}}]" value="{{p.cantidad}}" />
                            {% endif %}
                        </td>
                        <td id="precioProducto_{{p.id}}">
                            ${{(p.precio * p.cantidad)|number_format(0, ',', '.')}}
                        </td>
                        <td>
                           {% if (p.reservado == 1) %}
                                <span style='color:var(--verde);'>Stock reservado desde la cotizaci贸n</span>
                            {% elseif (p.reservado == 0 and p.stockActual < p.cantidad) %}
                                <span style='color:var(--rojo);'>No hay suficiente stock para cubrir la cantidad cotizada ({{p.cantidad|number_format(0, ',', '.') ~ p.unidad}})</span>
                            {% else %}
                                <span style='color:var(--celeste);'>Hay stock suficiente, no reservado</span>
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=4>TOTAL:</td>
                    <td colspan=3 id='productosPrecioTotal'>${{(precioTotal ?? 0)|number_format(0, ',', '.')}}</td>
                </tr>
            </tfoot>
        </table>
        <input type="hidden" name="_token" value="{{ csrf_token('nueva_venta') }}">
        <div class="botonesFormularios">
            <a href="{{ path('cotizaciones_edit', {'id': cotizacion.id}) }}" class='btn btnCancelar'>Cancelar</a>
            <button class="btn btnGuardar" name='guardar' value='1'>Guardar</button>
            <button class="btn btnGuardar" name='guardar' value='2'>Guardar y cargar pagos</button>
        </div>
    </form>
{% endblock %}
